<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/landing_header_withmobile.html">
  <title>Horseback Riding Activity</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p class="activity-title">Activities</p>
<h3>Cattle Drive Adventure</h3>
Get ready to experience the true spirit of the Old West with our exhilarating Cattle Drive adventure. At our ranch, we offer a unique opportunity to step into the boots of a real cowboy or cowgirl. Feel the excitement, the thrill, and the sense of freedom as you take part in a tradition that goes back centuries.

<h3> What is a Cattle Drive?</h3>
A Cattle Drive is a hands-on experience where you become part of a team responsible for moving a herd of cattle from one pasture to another. You'll feel the power of these majestic animals as you guide them along the trail, just like the cowboys of the past.

<h3> Who Can Participate?</h3>
Our Cattle Drive is open to all skill levels, whether you're an experienced rider or have never been on a horse before. Our expert guides will provide all the necessary instruction, making it a perfect activity for families, friends, or solo adventurers.

<h3> Why Choose Our Cattle Drive?</h3>
At our ranch, it's not just about herding cattle; it's about connecting with the land, experiencing the thrill of the open range, and immersing yourself in the rich Texan cowboy culture. Our cattle drives are designed for those who seek an authentic Western adventure and want to feel the rush of life on the range.

<h3>What to Expect?</h3>
When you sign up for a Cattle Drive, you can expect an unforgettable day in the saddle, herding cattle under the endless Texas sky. Be prepared to be part of a team, learn the basics of cattle herding, and make memories that will last a lifetime.

<h3>Reserve Your Spot</h3>
If you're ready to saddle up and experience a taste of the Wild West, don't wait! Book your spot on our Cattle Drive adventure today and prepare for a day of excitement, dust, and the feeling of being a true cowboy or cowgirl.

<footer th:insert="fragments/my-footer.html"></footer>
</p>
</body>
</html>