<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/landing_header_withmobile.html">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<link rel="stylesheet" href="/css/style-faq.css">
<body>

<div class="main-accordion">
    <h1 class="section-title-divider">Frequently Asked Questions</h1>
    <p>Curious about our ranch? Wrangle up all the answers
        you seek on our FAQ page. We've got the scoop to satisfy
        your Texan trail ride curiosities. Giddy up and explore
        all the info you need in one convenient spot.</p>
    <button class="accordion">General Information</button>
    <div class="panel">
        <p>Cover basic questions about the ranch, its location,
            hours of operation, and contact details.</p>
        <button class="accordion sub">Where is Sixteen Fourteen Ranch located?</button>
        <div class="panel">
            <p>Our ranch is located just outside Tyler in East Texas:
                3621 County Rd 245 S, Kilgore, Texas 75662</p>
        </div>

        <button class="accordion sub">What are the operating hours of the ranch?</button>
        <div class="panel">
            <p>Our operating hours are as follows:<br><br>

                Monday to Friday: 9:00 AM to 5:00 PM <br>
                Saturday: 8:00 AM to 6:00 PM <br>
                Sunday: Closed <br><br>

                During these hours, we are available to accommodate trail rides, assist
                with bookings, and provide any necessary instructions or guidance to ensure
                a safe and fulfilling experience.

                Please note that reservations are highly recommended to secure your preferred
                time slot, as availability may vary. We understand that special occasions and
                group outings may require flexibility, so we encourage you to reach out to us
                directly if you have specific scheduling needs.</p>
        </div>

        <button class="accordion sub">Is there an age requirement for visiting the ranch?</button>
        <div class="panel">
            <p>
                Yes, we have an age requirement for visitors at our ranch.
                For the safety and enjoyment of all guests, we have established
                the following age guidelines:<br><br>

                Children: We welcome children of ages 6 and above to visit the ranch.
                Younger children may find certain activities or trail rides challenging
                or unsuitable for their age group.<br><br>

                Minors: Visitors between the ages of 6 and 17 must be accompanied by
                a parent or guardian during their visit. We prioritize the safety and
                well-being of all our guests, and having a responsible adult present
                ensures a secure and enjoyable experience for everyone.<br><br>

                Please note that certain activities, such as horseback riding, may have
                additional age, height, or weight restrictions to ensure the safety of
                participants and the well-being of our horses. We will provide detailed
                guidelines and recommendations for each activity to help you plan your visit
                accordingly.<br><br>

            </p>
        </div>

        <button class="accordion sub">Is there parking available at the ranch?</button>
        <div class="panel">
            <p>
                Yes, we provide parking facilities for visitors at our ranch. We understand
                the importance of convenient and accessible parking to ensure a smooth and
                enjoyable experience for our guests.<br><br>

                When you arrive at our ranch, you will find designated parking areas where you
                can safely park your vehicle. Our parking facilities are designed to accommodate
                various vehicle types, including cars, trucks, and trailers.<br><br>

                If you plan to bring a trailer or require additional space for parking larger
                vehicles, we recommend contacting us in advance. This will allow us to assist
                you in making appropriate arrangements and ensuring that we can accommodate your
                specific needs.<br><br>

            </p>
        </div>

        <button class="accordion sub">Are there restroom facilities on-site?</button>
        <div class="panel">
            <p>
                Yes, we have restroom facilities available on-site at our ranch.
                We understand the importance of providing convenient amenities for
                our visitors to ensure a comfortable and enjoyable experience.
            </p>
        </div>

        <button class="accordion sub">Can I bring my own food and drinks to the ranch?</button>
        <div class="panel">
            <p>
                Yes, you can bring your own food.
            </p>
        </div>

        <button class="accordion sub">Can I bring my own horse to the ranch?</button>
        <div class="panel">
            <p>
                We appreciate your interest in bringing your own horse to our ranch.
                However, for the safety and well-being of all visitors, we have specific
                policies regarding outside horses on our premises.<br><br>

                In most cases, we do not allow outside horses to be brought onto our ranch.
                This policy helps us maintain control over the environment and ensure the
                safety and health of our guests and resident animals. Our facilities, trails,
                and amenities are specifically designed and maintained for our own horses and
                the activities we offer.<br><br>

                However, if you have specific circumstances or inquiries related to bringing
                your own horse, we encourage you to contact us directly. We can discuss your
                situation and determine if any exceptions or alternative arrangements can be made.
                <br><br>
            </p>
        </div>

        <button class="accordion sub">Are there any nearby accommodations for visitors staying overnight?</button>
        <div class="panel">
            <p>
                Yes, there are usually nearby accommodations available for visitors
                staying overnight near our ranch. These accommodations may include
                lodges, hotels, motels, bed and breakfasts, or campgrounds. The specific
                options will depend on the location of the ranch and the surrounding area.
                We recommend researching the local area or contacting us directly for
                recommendations on nearby accommodations that suit your needs.
            </p>
        </div>

    </div>
    <button class="accordion">Trail Rides</button>
    <div class="panel">
        <p>Provide details about the trail ride experiences offered,
            including duration, difficulty level, and any age or weight restrictions.</p>
        <button class="accordion sub">What are the different trail ride options available?</button>
        <div class="panel">
            <p>We offer a variety of trail ride options, ranging from short scenic rides to
                longer explorations of our beautiful ranch.</p>
        </div>

        <button class="accordion sub">How long is the duration of a trail ride?</button>
        <div class="panel">
            <p>The duration of our trail rides varies depending on the chosen option,
                ranging from 1 hour to half-day or full-day rides.</p>
        </div>

        <button class="accordion sub">What is the level of difficulty for the trail rides?</button>
        <div class="panel">
            <p>Our trail rides cater to riders of various skill levels, from beginners to
                experienced riders. We have trails suitable for all levels of riding expertise.</p>
        </div>

        <button class="accordion sub">Is there a weight limit for riders?</button>
        <div class="panel">
            <p>To ensure the safety and well-being of our horses, we have a weight limit
                of 250 pounds for riders.</p>
        </div>

        <button class="accordion sub">Are there any age restrictions for trail rides?</button>
        <div class="panel">
            <p>Riders must be at least 12 years old to participate in our trail rides.
                We offer alternative rides, such as wagon rides or UTV side-by-side tours,
                for younger children.</p>
        </div>

        <button class="accordion sub">Do you provide riding helmets or other necessary equipment?</button>
        <div class="panel">
            <p>Yes, we provide riding helmets for all riders. We also supply all necessary
                equipment, such as saddles and stirrups, to ensure a comfortable and safe ride.</p>
        </div>

        <button class="accordion sub">Can beginners participate in the trail rides?</button>
        <div class="panel">
            <p>Absolutely! Our knowledgeable guides are experienced in working with riders
                of all levels. Whether you're a beginner or an experienced rider, we'll ensure
                you have a memorable and enjoyable trail ride.</p>
        </div>

        <button class="accordion sub">Do you offer private or group trail rides?</button>
        <div class="panel">
            <p>We offer both private and group trail rides. Whether you're looking for a solo
                adventure or a group outing, we can accommodate your needs and customize the
                experience accordingly.</p>
        </div>

    </div>
    <button class="accordion">Booking and Reservations</button>
    <div class="panel">
        <p>Answer questions related to the booking process, availability, payment methods, and cancellation policies.</p>
        <button class="accordion sub">How can I make a reservation for a trail ride?</button>
        <div class="panel">
            <p>Reservations can be made directly through our website or by contacting our ranch
                directly via phone or email. Our friendly staff will assist you in selecting the best date and time for your
                trail ride.</p>
        </div>

        <button class="accordion sub">Are deposits required to secure a reservation?</button>
        <div class="panel">
            <p>Yes, we require a deposit at the time of booking to secure your reservation.
                The deposit amount will be communicated to you during the booking process.</p>
        </div>

        <button class="accordion sub">What is your cancellation policy?</button>
        <div class="panel">
            <p>We understand that plans can change. If you need to cancel or reschedule your
                trail ride, please notify us at least 48 hours in advance to receive a full
                refund of your deposit. Cancellations made within 48 hours may be subject to
                a cancellation fee.</p>
        </div>

        <button class="accordion sub">Can I modify my reservation after it has been made?</button>
        <div class="panel">
            <p>We will do our best to accommodate any modifications to your reservation.
                Please contact us as soon as possible with your request, and we will assist
                you in making the necessary changes, subject to availability.</p>
        </div>

        <button class="accordion sub">Is it possible to request a specific horse for the trail ride?</button>
        <div class="panel">
            <p>While we cannot guarantee specific horse assignments, we take into consideration
                your riding experience and preferences when matching you with a suitable horse
                for the trail ride.</p>
        </div>

        <button class="accordion sub">What should I wear and bring for the trail ride?</button>
        <div class="panel">
            <p>We recommend wearing comfortable, closed-toe shoes and clothing suitable
                for outdoor activities. Don't forget to bring sunscreen, a hat, and a water
                bottle to stay hydrated during the ride.</p>
        </div>

        <button class="accordion sub">Can I join a trail ride without a reservation?</button>
        <div class="panel">
            <p>We highly recommend making a reservation in advance to secure your spot.
                However, if there is availability, we will do our best to accommodate walk-ins.</p>
        </div>

        <button class="accordion sub">Are there any special requirements or considerations for riders with disabilities?</button>
        <div class="panel">
            <p>We strive to provide inclusive experiences for all riders. If you or someone in
                your group has specific needs or disabilities, please inform us during the
                reservation process, and we will work with you to make the necessary arrangements
                to ensure a safe and enjoyable ride.</p>
        </div>

    </div>
    <button class="accordion">Safety and Equipment</button>
    <div class="panel">
        <p>Address concerns regarding safety measures, required
            riding equipment, and guidelines for riders to ensure a
            safe and enjoyable experience.</p>
        <button class="accordion sub">Do I need prior riding experience to participate in the trail ride?</button>
        <div class="panel">
            <p>No prior riding experience is necessary. Our trail rides are suitable for
                riders of all skill levels, including beginners. Our knowledgeable guides
                will provide basic riding instructions and ensure your safety throughout
                the ride.</p>
        </div>

        <button class="accordion sub">What safety measures are in place during the trail ride?</button>
        <div class="panel">
            <p>Your safety is our top priority. We conduct thorough safety briefings before
                each ride, provide riding helmets, and ensure that all riders are matched
                with suitable horses. Our guides are trained in first aid and equipped with
                communication devices in case of emergencies.</p>
        </div>

        <button class="accordion sub">What kind of equipment is provided for the trail ride?</button>
        <div class="panel">
            <p>We provide all necessary riding equipment, including saddles, stirrups, and
                riding helmets. If you have specific equipment preferences or requirements,
                feel free to let us know in advance, and we'll do our best to accommodate them.</p>
        </div>

        <button class="accordion sub">Are there any age or weight restrictions for participating in the trail ride?</button>
        <div class="panel">
            <p>Riders must be at least 12 years old to participate in the trail ride. Additionally,
                we have a weight limit of 250 pounds to ensure the safety and comfort of our horses.</p>
        </div>

        <button class="accordion sub">Can I bring my own riding helmet?</button>
        <div class="panel">
            <p>While we provide riding helmets for all riders, you are welcome to bring
                and wear your own riding helmet if it meets safety standards.</p>
        </div>

        <button class="accordion sub">What should I wear for the trail ride?</button>
        <div class="panel">
            <p>We recommend wearing long pants, closed-toe shoes with a small heel,
                and comfortable clothing suitable for outdoor activities. Avoid loose
                or baggy attire that may get tangled or caught during the ride.</p>
        </div>

        <button class="accordion sub">Are there any specific guidelines or rules to follow during the trail ride?</button>
        <div class="panel">
            <p>Yes, we have a few guidelines to ensure a safe and enjoyable ride for everyone.
                These may include staying on designated trails, following the instructions of
                the guide, maintaining a safe distance between horses, and respecting the natural
                environment.</p>
        </div>

        <button class="accordion sub">Are there medical personnel or first aid kits available on the trail?</button>
        <div class="panel">
            <p>Our guides are trained in first aid and carry first aid kits during the trail
                ride. In case of any medical emergencies, they can provide immediate assistance
                and coordinate further medical attention if needed.</p>
        </div>

        <button class="accordion sub">What happens in case of inclement weather?</button>
        <div class="panel">
            <p>Your safety is our priority, and we closely monitor weather conditions. In
                the event of inclement weather, such as heavy rain or storms, we may need
                to reschedule or cancel the trail ride. We will communicate any changes or
                updates to you in a timely manner.</p>
        </div>

        <button class="accordion sub">Can I bring personal belongings on the trail ride?</button>
        <div class="panel">
            <p>We recommend keeping personal belongings to a minimum during the trail ride.
                Small items like cell phones, keys, or cameras can be securely stored in
                provided saddlebags or pouches. However, we advise against bringing valuable
                or fragile items that may be at risk of damage or loss during the ride.</p>
        </div>

    </div>
    <button class="accordion">Horse Care and Welfare</button>
    <div class="panel">
        <p>Address questions about the well-being and care of the
            ranch's horses, including their training, feeding, and health.</p>
        <button class="accordion sub">How do you ensure the well-being of your horses?</button>
        <div class="panel">
            <p>The welfare of our horses is of utmost importance to us.
                We provide them with a comfortable and clean living environment,
                regular health check-ups, and a balanced diet. Our experienced
                staff is trained in equine care and ensures the horses' physical
                and emotional needs are met.</p>
        </div>

        <button class="accordion sub">How are the horses trained for trail rides?</button>
        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <button class="accordion sub">What steps are taken to prevent overworking the horses?</button>
        <div class="panel">
            <p>Our trail ride schedules are designed to provide ample rest and recovery time
                for the horses between rides. We monitor their energy levels and health closely,
                and our guides are trained to recognize signs of fatigue, ensuring the horses are
                never overworked.</p>
        </div>
        <button class="accordion sub">How do you handle medical emergencies involving the horses?</button>
        <div class="panel">
            <p>We have trained staff who are knowledgeable in equine first aid. In case of
                a medical emergency involving a horse, immediate attention and care will be
                provided. If necessary, we have veterinary partners on call to offer specialized
                assistance.</p>
        </div>
        <button class="accordion sub">Do you offer any rehabilitation or retirement programs for older horses?</button>
        <div class="panel">
            <p>Yes, we have a retirement program in place for our senior horses. When a
                horse reaches a certain age or is no longer suitable for riding, we provide
                them with a comfortable and peaceful retirement on our ranch, ensuring they
                are well-cared for and loved.</p>
        </div>
        <button class="accordion sub">Are the horses well-socialized and comfortable around people?</button>
        <div class="panel">
            <p>Our horses are well-socialized and accustomed to interacting with people.
                They are friendly and approachable, making your trail ride experience
                enjoyable and creating a positive connection between you and the horse.</p>
        </div>
        <button class="accordion sub">How do you ensure the horses' comfort during extreme weather conditions?</button>
        <div class="panel">
            <p>During extreme weather conditions, such as hot summers or cold winters, we
                provide appropriate shelter, shade, and ample water for the horses. We also
                adjust the trail ride schedules to avoid the hottest parts of the day in the
                summer months.</p>
        </div>
        <button class="accordion sub">Can visitors interact with the horses outside of trail rides?</button>
        <div class="panel">
            <p>Yes, visitors are welcome to interact with the horses under the supervision
                of our staff. We offer horse grooming experiences and opportunities to learn
                more about the care and well-being of these magnificent animals.</p>
        </div>

    </div>
    <button class="accordion">Other Activities</button>
    <div class="panel">
        <p>Include information about additional activities available at the ranch,
            such as cattle drives, wagon rides, fishing, or picnic options.</p>
        <button class="accordion sub">What other activities are available at the ranch besides trail rides?</button>
        <div class="panel">
            <p>In addition to our exciting trail rides, we offer a range of activities to suit
                everyone's interests. You can enjoy cattle drives, fishing, wagon rides, and
                picnics amidst the breathtaking natural beauty of our ranch.</p>
        </div>
        <button class="accordion sub">Is fishing equipment provided for the fishing activity?</button>
        <div class="panel">
            <p>No, you should bring your own equipment. We have equipment available for rent.</p>
        </div>
        <button class="accordion sub">What can we expect during the wagon ride?</button>
        <div class="panel">
            <p>Our wagon rides offer a leisurely journey through the ranch's scenic trails,
                perfect for soaking in the peaceful atmosphere and enjoying quality time with
                loved ones.</p>
        </div>
        <button class="accordion sub">Can you provide details about the picnic experience?</button>
        <div class="panel">
            <p>Our picnics allow you to savor delicious meals surrounded by nature's beauty.
                We set up cozy picnic spots with picnic blankets, baskets filled with tasty
                treats, and picturesque views that make for a memorable dining experience.</p>
        </div>
        <button class="accordion sub">Are these activities suitable for families with children?</button>
        <div class="panel">
            <p>Absolutely! Our ranch activities are family-friendly and designed to cater to
                all ages. Children can partake in age-appropriate activities and create lasting
                memories with their families.</p>
        </div>
        <button class="accordion sub">What is the duration of each activity?</button>
        <div class="panel">
            <p>The duration of each activity varies. Trail rides typically last for an hour
                or more, while cattle drives, fishing, and wagon rides may have different
                timeframes. Please check with our staff for specific activity durations.</p>
        </div>
        <button class="accordion sub">Can we book a combination of activities?</button>
        <div class="panel">
            <p>Certainly! You can create a personalized experience by combining different
                activities that appeal to you. Let us know your preferences, and we'll tailor
                a perfect itinerary for your visit.</p>
        </div>
        <button class="accordion sub">Do you provide guides for all the activities?</button>
        <div class="panel">
            <p>No, not all activities require a guide. Please refer to the activities page for details.</p>
        </div>
        <button class="accordion sub">Are the activities available year-round?</button>
        <div class="panel">
            <p>Most of our activities are available year-round, although some may be
                weather-dependent. We recommend checking the availability and seasonal
                schedules to plan your visit accordingly.</p>
        </div>

    </div>
    <button class="accordion">Group and Private Events</button>
    <div class="panel">
        <p>Provide details about hosting special events, celebrations,
            corporate outings, or team-building activities at the ranch.</p>
        <button class="accordion sub">Can we host group events at your ranch?</button>
        <div class="panel">
            <p>Absolutely! We welcome groups of all sizes for various events and celebrations.
                Whether it's a corporate outing, family reunion, or birthday party, our ranch
                provides a fantastic setting for a memorable gathering.</p>
        </div>
        <button class="accordion sub">What type of group events do you cater to?</button>
        <div class="panel">
            <p>We cater to a wide range of group events, including team-building retreats, company picnics,
                weddings, anniversary celebrations, and more. Our versatile facilities and scenic
                surroundings create the perfect backdrop for any occasion.</p>
        </div>
        <button class="accordion sub">How many guests can the ranch accommodate for group events?</button>
        <div class="panel">
            <p>Our ranch can accommodate groups of various sizes, from intimate gatherings
                to larger events. We'll work closely with you to ensure all your guests have
                a wonderful experience.</p>
        </div>
        <button class="accordion sub">Can you arrange customized activities for our group event?</button>
        <div class="panel">
            <p>Absolutely! We pride ourselves on creating personalized experiences.
                Let us know your preferences, and we'll tailor the activities and
                itinerary to suit the interests and needs of your group.</p>
        </div>
        <button class="accordion sub">Are catering services available for group events?</button>
        <div class="panel">
            <p>No, we don't offer food catering.</p>
        </div>
        <button class="accordion sub">Can we book the entire ranch for a private event?</button>
        <div class="panel">
            <p>Yes, we offer the option to book the entire ranch for private events.
                This exclusivity allows your group to fully enjoy the ranch's amenities
                and activities in a private and serene environment.</p>
        </div>
        <button class="accordion sub">Are there indoor facilities available in case of inclement weather?</button>
        <div class="panel">
            <p>Yes, we have indoor facilities available to provide comfort during inclement
                weather. Whether it's a covered pavilion or indoor meeting rooms, we ensure
                your event runs smoothly regardless of the weather.</p>
        </div>
        <button class="accordion sub">Can you arrange transportation for our group to the ranch?</button>
        <div class="panel">
            <p>No, please arrange necessary transportation.</p>
        </div>
        <button class="accordion sub">Is there on-site accommodation available for guests attending multi-day events?</button>
        <div class="panel">
            <p>No, at this time we only offer day activities.</p>
        </div>
        <button class="accordion sub">How do we go about booking a group or private event at the ranch?</button>
        <div class="panel">
            <p>Booking a group or private event is easy! Simply reach out to our event
                coordinators, and they'll guide you through the process, discuss your
                requirements, and help create an unforgettable event tailored to your needs.</p>
        </div>

    </div>

</div>



<footer th:insert="fragments/my-footer.html"></footer>
</p>
<script type="text/javascript" th:src="@{/js/faq-actions.js}"></script>
</body>
</html>