<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/landing_header_withmobile.html">
  <title>Horseback Riding Activity</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p class="activity-title">Activities</p>
<h3>Title: Group Events at Our Ranch**</h3>
Looking for the perfect place to host your next group event or gathering in the heart of Texas? Our ranch offers a unique and picturesque setting for all your special occasions. From family reunions and corporate retreats to birthday parties and team-building events, we've got you covered.
<h3>Why Choose Our Ranch for Group Events?</h3>
At our family-owned ranch, we understand the importance of creating unforgettable memories with loved ones, friends, and colleagues. Our scenic location, rich Texan heritage, and authentic Western experiences make it the ideal backdrop for your group event. Whether you're celebrating, bonding, or team-building, our ranch offers a diverse range of activities to ensure everyone has a fantastic time.
<h3>What We Offer:</h3>
- **Scenic Beauty:** Our ranch boasts stunning natural beauty, from rolling pastures to tranquil lakes, providing the perfect backdrop for your event photos and creating a peaceful atmosphere.
<br>- **Authentic Western Experience:** Your group can partake in various Western-themed activities like trail rides, cattle drives, and campfire cookouts. It's a chance to immerse yourself in Texan culture and history.
<br>- **Adventure and Relaxation:** We offer activities that cater to both adventure seekers and those who prefer to relax. From thrilling horseback rides to tranquil nature walks, there's something for everyone.
<br>- **Flexible Event Spaces:** We provide multiple event spaces that can be tailored to your group's needs. From open pastures to cozy campfire circles, you can choose the perfect setting for your event.

<h3>Customize Your Experience:</h3>
We understand that every group event is unique. That's why we offer customization options for your special day. Whether you want a Texan-themed picnic, a team-building cattle drive, or a serene lakeside retreat, our team will work with you to make your vision a reality.

<h3>Reserve Your Event:</h3>
To learn more about hosting your group event at our ranch and to reserve your desired date, reach out to us today. Your guests will thank you for choosing our ranch as the backdrop for a memorable gathering, filled with the warmth of Texan hospitality and the charm of the Old West.

<footer th:insert="fragments/my-footer.html"></footer>
</p>
</body>
</html>