<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/landing_header_withmobile.html">
  <title>Horseback Riding Activity</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p class="activity-title">Activities</p>
<h3>Title: Wagon Rides at the Ranch</h3>
Howdy there, folks! Welcome to a true Texan adventure with our wagon rides. It's a chance to mosey back to the days of the Wild West, where life was simpler and the beauty of Texas was all around you. So, hop on the wagon, and let's take a ride through the heart of our ranch.
<h3>Why Choose Our Ranch for Wagon Rides:</h3>
Out here, we're all about providing a genuine Texan experience. Whether you're a family, a couple, or a bunch of friends, our ranch has something for everyone with our wagon rides.

<h3>Exploring the Wagon Ride Experience:</h3>
<br>Authentic Texan Setting: Our wagon rides will take you through some of the most stunning trails this side of the Mississippi. You'll soak up the rustic charm of the East Texas landscape as you ride along in our trusty wagon.
<br>
<br>Storytelling and Entertainment: Our guides are more than just drivers; they're storytellers. They'll spin you yarns of the Old West and keep you entertained every step of the way.
<br>
<br>Perfect for All Ages: These wagon rides are as Texan as apple pie. They're suitable for young'uns and old-timers, making it a rootin' tootin' adventure for the whole family.
<br>
<br>Connecting with Nature: In the great outdoors, you can breathe in the fresh air and take in the sights and sounds of the ranch. It's a chance to unplug from the modern world and reconnect with the world as it used to be.
<br>
<h3>What to Expect on Your Wagon Ride:</h3>
Our wagon rides are a chance to slow down and appreciate the beauty of nature. It's a time to gaze at the scenic views, enjoy a family day out, or share a romantic ride with your sweetheart.

<h3>Reserve Your Wagon Ride:</h3>
So, if you're itchin' for a taste of the Old West and some tranquility, don't hesitate. Book your wagon ride today, and let our ranch take you on a journey through Texas history and the beauty of our land.

<footer th:insert="fragments/my-footer.html"></footer>
</p>
</body>
</html>